<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Place an order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body style="background-color:#242582;">

<div class="general-div">
    <div class="general-div">
        <h1 class="form-label">Add item</h1>
        <form action="#" th:action="@{/admin}" th:object="${nextItem}" method="post">
            <h3 class="form-label">Name: <input class="form-control" type="text" th:field="*{name}"/></h3>
            <h3 class="form-label">Price: <input class="form-control" type="text" th:field="*{price}"/></h3>
            <input class="btn btn-primary" type="submit" name="menuAdd" value="Add"/>

            <a class="btn btn-primary" href="/manageOrders" role="button">Manage orders</a>

        </form>

    </div>

    <div class="general-div" th:object="${nextItem}">
        <h3 class="form-label">Menu:</h3>
        <!--  Iterate through the Items on the Menu, then shows their names and prices as a list  -->
        <ul class="form-div" th:each="item : ${menu.menu.values}">
            <li class="form-div" th:text="${item.name}"></li>
            <li class="form-div" th:text="${'$'+item.price}"></li>
        </ul>
    </div>

</div>

<script src="bootstrap.bundle.js"></script>
</body>
</html>