<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
  <title>Place an order</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="bootstrap.css">
</head>
<body>
<h1>Add item</h1>
<form action="#" th:action="@{/admin}" th:object="${nextItem}" method="post">
  <p>Name: <input type="text" th:field="*{name}" /></p>
  <p>Price: <input type="text" th:field="*{price}" /></p>

  <p>Menu:</p>
  <ul th:each="item : ${menu.menu.values()}">
    <li th:text="${item.name}"></li>
    <li th:text="${'$'+item.price}"></li>
  </ul>

  <p><input type="submit" name="menuAdd" value="Add" /></p>
  <p>Order <a href="/order">here</a></p>
  <p>Manage orders <a href="/manageOrders">here</a></p>

</form>

<form action="#" th:action="@{/orders}" th:object="${orders}" method="post">

  <p>Orders</p>
  <ul th:each="item,index : ${orders}">
    <li th:text="${item.getReceipt}"></li>
    <li>
      <button type="button" th:value="${index}">Remove item</button>
    </li>
  </ul>

</form>

</form>

<script src="bootstrap.bundle.js"></script>
</body>
</html>