<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Place an order</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body style="background-color:#242582;">
<form action="#" th:action="@{/manageOrders}" method="post">

    <div class="general-div">
        <h3 class="form-label">Both fields only take a single order number</h3>

        <h3 class="form-label">Remove order : <input class="form-control" type="text" name="input1"/></h3>
        <h3 class="form-label">Mark order as ready: <input class="form-control" type="text" name="input2"/></h3>
        <input class="btn btn-primary" type="submit">

        <br>

        <h1 class="form-label">Orders</h1>
        <!--  Iterate through the Order objects in the Orders object, then display all relevant attributes  -->
        <ul class="form-div list-group" th:each="item,index : ${orders}">
            <li class="form-div list-group-item" th:text="${item.getReceipt}"></li>
            <li class="form-div list-group-item" th:text="'Order number: '+${item.orderNumber}"></li>
            <li class="form-div list-group-item"
                th:text="${!item.isReady} ? 'This order is not ready.' : 'This order is ready.'">Ready:
            </li>
        </ul>

    </div>

</form>
<script src="bootstrap.bundle.js"></script>
</body>
</html>