<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
  <title>Place an order</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>

<form action="#" th:action="@{/order}" th:object="${order}" method="post">
  <p>Order Number (If there is a matching order, the next field will be ignored, and the matching order will be shown : <input type="text" th:field="*{orderNumber}" /></p>
  <p>Order Items (comma-separated list): <input type="text" th:field="*{itemsString}" /></p>

  <p>Menu:</p>
  <ul th:each="item : ${menu.menu.values()}">
    <li th:text="${item.name}"></li>
    <li th:text="${item.price}"></li>
  </ul>


  <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>

</form>


</body>
</html>