<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Order check</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body style="background-color:#242582;">

<div class="general-div">
    <h1 class="form-label">Your order</h1>
    <p class="form-label" th:text="'Order number: ' + ${order.orderNumber}"/>

    <h3 class="form-label">Receipt:</h3>

    <!--  Iterate through the Items in the order and show their names and prices as a list.  -->
    <ul class="form-label" th:each="item : ${order.items}">
        <li class="form-label" th:text="${item.name}"></li>
        <li class="form-label" th:text="${'$'+item.price}"></li>
    </ul>

    <hr style="color:#F64C72"/>

    <!--  Check if the Order object's 'isReady' boolean is true, then display the appropriate message. -->
    <li id="order-ready-value"
        th:text="${!order.isReady} ? 'Your order is not ready.' : 'Your order is ready.'">
    </li>


    <input class="btn btn-primary" type="submit" value="Refresh"/>

    <a class="btn btn-primary" href="/order" role="button">Create another order</a>
</div>

</body>
<script src="bootstrap.bundle.js"></script>
</html>